*.import
import/*
*.blend1
*.translation
android/*
*.tmp
html/*
*.bak
result/*

# FileEdit 읽은파일 무시
addons/file-editor/lastopenedfiles.lastcfg

# git_api 무시
git_api.*
libgitapi.*
.github/

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# Text editor related
test_files/
.trash/
.trash.json
.text_editor_state.json
word_skip_list.txt

# NakamaClient ignores
*.swp
test_suite/addons
test_suite/addons/*
test_suite/.import/*

# System/tool-specific ignores
.directory
*~

# Plugin specific ignores
icons.pngs/
fonts/
file.samples/
icon.png
